.form-control {
  border-width: 0;
  border-radius: $border-radius-medium;
  padding: 0.7rem 1rem;
  font-weight: 300;
  font-size: 14px;
  color: $primary-dusk-light;
}

.home-header {
  .mobile-destination-search {
    position: relative;
    .input-group {
      position: absolute;
      top: -40px;
      .form-control {
        padding: 1rem 1.25rem;
        font-size: 20px;
        font-weight: 500;
      }

      button {
        padding: 1rem 1.25rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 24px;
      }
    }
  }
}

.admin-form {
  @media screen and (max-width: 767px) {
    margin-bottom: 7rem !important;
  }

  .resort-image-wrapper {
    @media screen and (max-width: 767px) {
      width: 100% !important;
    }
    .resort-image {
      // height: 180px;
      // width: 320px;
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

#destination-search {
  border: 0;
  border-radius: $border-radius-medium;
  background: hsla(0, 0%, 100%, 90%);

  .rbt-highlight-text {
    padding: 0;
    background: none;
  }
}
