// public layout

@media screen and (min-width: 768px) {
  .public-layout {
    min-height: calc(100vh - 89px);
  }
  .public-content-wrapper {
    margin-top: 89px;
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  .public-content-wrapper {
    margin-bottom: 80px;
    overflow: hidden;
  }
}

footer {
  font-size: 14px;
  opacity: 0.6;
}

// horizontal layout
.horizontal-layout {
  @media screen and (min-width: 768px) {
    .container {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    .left-content {
      max-width: 800px;
      margin: auto;
    }
  }
}

// admin layout

// @media screen and (min-width: 768px) {
//   .admin-content-wrapper {
//   }
// }

.admin-wrapper {
  background-color: $primary-sunrise-lighter;
  min-height: 100vh;
}

@media screen and (max-width: 767px) {
  .admin-content-wrapper {
    margin-top: 120px;
    margin-bottom: 80px;

    h1 {
      margin-top: 0 !important;
    }
  }
}

@media screen and (min-width: 768px) {
  .admin-content-wrapper {
    max-width: 960px;
    // margin-right: auto;
    margin-left: 0;
    padding-left: 2rem;

    .admin-form {
      max-width: 700px;
    }
  }
}
