// public layout

@media screen and (min-width: 768px) {
  .public-content-wrapper {
    margin-top: 94px;
  }
}

.public-content-wrapper {
  margin-bottom: 80px;
  overflow: hidden;
}

// horizontal layout
.horizontal-layout {
  @media screen and (min-width: 768px) {
    .container {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
}

// admin layout

// @media screen and (min-width: 768px) {
//   .admin-content-wrapper {
//   }
// }

.admin-wrapper {
  background-color: $primary-sunrise-lighter;
  min-height: 100vh;
}

@media screen and (max-width: 767px) {
  .admin-content-wrapper {
    margin-top: 120px;
    margin-bottom: 80px;

    h1 {
      margin-top: 0 !important;
    }
  }
}

@media screen and (min-width: 768px) {
  .admin-content-wrapper {
    max-width: 960px;
    margin-right: auto;
    padding-left: 2rem;
  }
}
