// public nav

.public-mobile-nav {
  border-top-left-radius: $border-radius-large;
  border-top-right-radius: $border-radius-large;
  background: white;
  .nav-item .nav-link {
    .nav-icon {
      color: $primary-sunrise;
      font-size: 26px;
    }
    .nav-text {
      color: $primary-dusk-medium;
      font-weight: 500;
      font-size: 12px;
    }
  }
}

.nav-wrapper {
  z-index: 1035;
}

@media screen and (min-width: 768px) {
  .public-desktop-nav {
    .nav-link {
      color: $primary-dusk;
      &:after {
        display: block;
        content: "";
        border-bottom: 2px solid $secondary-sunshine;
        width: 0;
        transition: ease-in 0.15s;
      }

      &:hover:after,
      &:focus:after {
        width: 40px;
        transition: ease-in 0.15s;
      }

      &.active {
        color: $primary-dusk;
        &:after {
          display: block;
          content: "";
          width: 40px;
        }
      }
    }
  }
}

// admin nav

.admin-mobile-nav {
  &.top-nav {
    margin-left: -10px;

    .nav-bar {
      border-bottom: 2px solid $primary-sunrise-light;
    }

    .nav-item,
    .nav-item .nav-link {
      color: $silver-lining;
      .nav-icon {
        font-size: 32px;
      }
      .nav-text {
        font-weight: 500;
        font-size: 12px;
      }
    }
  }
  &.bottom-nav {
    border-top-left-radius: $border-radius-large;
    border-top-right-radius: $border-radius-large;
    background: $primary-sunrise;
    .nav-item .nav-link {
      .nav-icon {
        color: white;
        font-size: 26px;
      }
      .nav-text {
        color: $primary-dusk-light;
        font-weight: 500;
        font-size: 12px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .admin-side-nav {
    width: 220px;
  }
  .admin-desktop-nav {
    background-color: $primary-sunrise-medium;
    border-top-right-radius: $border-radius-xlarge;
    border-bottom-right-radius: $border-radius-xlarge;
    width: 220px;

    .nav-container {
      width: max-content;
    }

    // nav {
    //   width: 220px;
    // }

    .nav-item .nav-link {
      color: $primary-dusk-light;

      .nav-icon {
        color: white;
        // font-size: 26px;
        font-size: 1.5rem;
      }
    }
  }
}
