.switch.btn.btn-light {
  border: 0;
}

.switch-on.btn {
  padding: 0.7rem 1.5rem 0.7rem 0.7rem !important;
}

.switch-off.btn {
  padding: 0.7rem 0.7rem 0.7rem 1.5rem !important;
}

.switch.btn {
  height: 43px;
}
