@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

// primary palette
$primary-sunrise: hsl(26, 77%, 64%);
$primary-sunrise-medium: hsl(26, 100%, 75%);
$primary-sunrise-light: hsl(26, 59%, 90%);

$primary-cloudy: hsl(0, 0%, 95%);

$primary-dusk: hsl(203, 26%, 17%);
$primary-dusk-light: hsl(203, 25%, 24%);

// secondary palette
$secondary-blood-moon: hsl(11, 69%, 59%);
$secondary-sunshine: hsl(44, 85%, 60%);

// typography

// bootstrap default overrides
$primary: $primary-sunrise;
$body-bg: $primary-cloudy;
$body-color: $primary-dusk;
$headings-font-family: "Poppins", sans-serif;
$font-family-base: "Poppins", sans-serif;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1140px,
);

////////////////////////
@import "~bootstrap/scss/bootstrap";
